.gallery-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.gallery-container article{
    border: 1rem solid transparent;
    transition: var(--transition);
}

.gallery-container article:hover{
    border-color: var(--color-gray-500);
}

/*media queries medium device*/
@media screen and (max-width: 1024px){
    .gallery-container{
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        margin: 4rem;
        
    }
    .gallery-container article{
        border:0;
       
    }
}
/*media queries small device*/
@media screen and (max-width: 600px){
    .gallery-container{
        gap:1rem;
        grid-template-columns:1fr;
        margin: 2rem;
    }
    
}